<div class="w3-sidebar w3-light-grey w3-bar-block w3-animate-left " style="width:25%">
    <h3 class="w3-bar-item" >Dashboard</h3>
    <a href="#" class="w3-bar-item w3-button" [routerLink]="['/marksheet']">Add Marksheet</a>
    <a href="#" class="w3-bar-item w3-button" [routerLink]="['/marklist']">Marksheet Detalis</a>
    <a href="#" class="w3-bar-item w3-button" (click)="onSubmit()">Signout</a>
  </div>
  
  <!-- Page Content -->
  <div style="margin-left:25%">
  
  <div class="w3-container w3-mobile w3-animate-right w3-teal">
    <h1>Dashboard</h1>
  </div>
  

 